* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body.principal-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  display: none;
}

header.header-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  background-color: #000000;
}
header.header-style span.span-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #5B5A5B;
  font-size: 12px;
  font-weight: 600;
  height: 25%;
}
header.header-style div.nav-style {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 75%;
  justify-content: space-around;
}
header.header-style div.nav-style div.burger-menu {
  text-align: center;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar {
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 6rem;
  bottom: 0;
  left: 0;
  width: 50%;
  justify-content: center;
  position: absolute;
  background-color: #000000;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 1.2rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz {
  position: absolute;
  top: 30px;
  right: 20px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar img.button-cerrar__img {
  width: 27px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__item a {
  color: #FFFFFF;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda {
  width: fit-content;
  position: absolute;
  top: 30px;
  left: 20px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button img.emoji-button__img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin {
  width: fit-content;
  margin-top: 2rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button img.emoji-button__img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar.visible {
  opacity: 1;
  visibility: visible;
}
header.header-style div.nav-style div.logo-style {
  display: flex;
  justify-content: center;
  width: 9rem;
}
header.header-style div.nav-style div.logo-style a.logo-style-link {
  display: flex;
  height: 100%;
  align-items: center;
}
header.header-style div.nav-style div.logo-style a.logo-style-link img.logo-style-link__img {
  text-align: center;
  max-width: 9rem;
}
header.header-style div.nav-style div.carrito-cont {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
header.header-style div.nav-style div.carrito-cont button.carrito-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.carrito-cont button.carrito-button img.carrito-button__img {
  width: 35px;
}
header.header-style div.nav-style div.carrito-cont button.carrito-button span.suma-carrito {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  border-color: #F6F3F9;
}

main.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
main.main-cont h2 {
  margin-top: 20px;
}
main.main-cont div.product-card {
  width: 10rem;
  border-radius: 20px;
  background-color: #F6F3F9;
}
main.main-cont div.product-card h4.product-card__title {
  position: absolute;
  font-size: 14px;
  width: 9.5rem;
  text-align: center;
}
main.main-cont div.product-card img.product-card__img {
  width: 100%;
}
main.main-cont div.product-card div.product-card-add {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  background-color: #000000;
  justify-content: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
main.main-cont div.product-card div.product-card-add p.product-card-add__precio {
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
  width: 70%;
  text-align: center;
}
main.main-cont div.product-card div.product-card-add button.product-card-add__button {
  width: auto;
  all: initial;
  background-color: #5B5A5B;
  padding: auto;
  width: 30%;
  height: 100%;
  border-bottom-right-radius: 17px;
  text-align: center;
  cursor: pointer;
}
main.main-cont div.product-card div.product-card-add button.product-card-add__button img.product-card-add__button-img {
  width: 30px;
}
footer.footer-cont {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
footer.footer-cont p.footer-cont__text {
  color: #5B5A5B;
}

/*# sourceMappingURL=style.css.map */
