* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body.principal-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  display: none;
}

header.header-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  background-color: #000000;
  position: fixed;
  z-index: 1;
}
header.header-style span.span-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #5B5A5B;
  font-size: 12px;
  font-weight: 600;
  height: 25%;
}
header.header-style div.nav-style {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 75%;
  justify-content: space-around;
}
header.header-style div.nav-style div.burger-menu {
  text-align: center;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar {
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 6rem;
  margin: 0;
  left: 0;
  width: 50%;
  height: calc(100vh - 6rem);
  justify-content: center;
  position: absolute;
  background-color: #000000;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  gap: 50px;
  margin-bottom: 4rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz {
  position: absolute;
  width: 1.5rem;
  top: 1rem;
  right: 1.3rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar img.button-cerrar__img {
  width: 100%;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__item a {
  color: #FFFFFF;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda {
  position: absolute;
  width: 1.8rem;
  top: 1rem;
  left: 1.3rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button img.emoji-button__img {
  width: 100%;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin {
  position: absolute;
  bottom: 4rem;
  width: 2.5rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button img.emoji-button__img {
  width: 100%;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar.visible {
  opacity: 1;
  visibility: visible;
}
header.header-style div.nav-style div.logo-style {
  display: flex;
  justify-content: center;
  width: 9rem;
}
header.header-style div.nav-style div.logo-style a.logo-style-link {
  display: flex;
  height: 100%;
  align-items: center;
}
header.header-style div.nav-style div.logo-style a.logo-style-link img.logo-style-link__img {
  text-align: center;
  max-width: 9rem;
}
header.header-style div.nav-style button.carrito-button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style button.carrito-button img.carrito-button__img-white {
  width: 35px;
}
header.header-style div.nav-style button.carrito-button span.suma-carrito {
  align-self: flex-end;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  border-color: #F6F3F9;
}

main.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
main.main-cont h2 {
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}
main.main-cont div.cont-carrito {
  display: none;
  position: fixed;
  top: 6rem;
  width: 85%;
  height: calc(100vh - 6rem);
  z-index: 1;
  box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}
main.main-cont div.cont-carrito p.carrito-vacio-text {
  font-weight: 700;
}
main.main-cont div.cont-carrito div.card-carrito {
  box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 95%;
  display: flex;
  justify-content: center;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito {
  width: 95%;
  display: grid;
  grid-template-areas: "img nombre nombre" "img cant eliminar" "img total eliminar";
  justify-content: center;
  align-items: center;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito img.product-card-carrito__img {
  grid-area: img;
  width: 4.5rem;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito h4.product-card-carrito__name {
  grid-area: nombre;
  font-size: 12px;
  text-align: center;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant {
  grid-area: cant;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant button.product-card-carrito__cant-menos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: #beb0b0;
  border-radius: 50%;
  cursor: pointer;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant button.product-card-carrito__cant-menos img.product-card-carrito__cant-menos-img {
  width: 1.5rem;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant p.product-card-carrito__cant-number {
  font-weight: 700;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant button.product-card-carrito__cant-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: #beb0b0;
  border-radius: 50%;
  cursor: pointer;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito div.product-card-carrito__cant button.product-card-carrito__cant-mas img.product-card-carrito__cant-mas-img {
  width: 1.5rem;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito__total {
  grid-area: total;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito__total small.product-card-carrito__total-title {
  vertical-align: middle;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito__delete {
  grid-area: eliminar;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito__delete button.product-card-carrito__delete-button {
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
  background-color: #beb0b0;
  border: none;
  box-shadow: 2px 2px 10px #666666;
  cursor: pointer;
}
main.main-cont div.cont-carrito div.card-carrito div.product-card-carrito__delete button.product-card-carrito__delete-button img.product-card-carrito__delete-button-img {
  width: 1.5rem;
  vertical-align: middle;
}
main.main-cont div.cont-carrito.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F3F9;
  gap: 2rem;
}
main.main-cont div.cont-carrito.visible:nth-child(2) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main.main-cont section.section-cont-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
main.main-cont section.section-cont-products div.product-card {
  width: 10rem;
  border-radius: 20px;
  background-color: #F6F3F9;
}
main.main-cont section.section-cont-products div.product-card h4.product-card__title {
  position: absolute;
  font-size: 14px;
  width: 9.5rem;
  text-align: center;
}
main.main-cont section.section-cont-products div.product-card img.product-card__img {
  width: 100%;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  background-color: #000000;
  justify-content: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add p.product-card-add__precio {
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
  width: 70%;
  text-align: center;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button {
  width: auto;
  all: initial;
  background-color: #5B5A5B;
  padding: auto;
  width: 30%;
  height: 100%;
  border-bottom-right-radius: 13px;
  text-align: center;
  cursor: pointer;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button img.product-card-add__button-img-white {
  width: 30px;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button img.product-card-add__button-img-black {
  display: none;
  width: 30px;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button:hover {
  background-color: #F6F3F9;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button:hover img.product-card-add__button-img-white {
  display: none;
  width: 30px;
}
main.main-cont section.section-cont-products div.product-card div.product-card-add button.product-card-add__button:hover img.product-card-add__button-img-black {
  display: initial;
  justify-self: center;
}

footer.footer-cont {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
footer.footer-cont p.footer-cont__text {
  color: #5B5A5B;
}

/*# sourceMappingURL=style.css.map */
