* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body.principal-cont {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-area: "header" "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

header.header-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85px;
  background-color: #000000;
}
header.header-style span.span-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #5B5A5B;
  font-size: 12px;
  font-weight: 600;
  height: 25%;
}
header.header-style div.nav-style {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 75%;
  justify-content: space-around;
}
header.header-style div.nav-style div.burger-menu {
  text-align: center;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
header.header-style div.nav-style div.burger-menu button.burger-menu-button img {
  width: 25px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar {
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 70px;
  bottom: 0;
  width: 50%;
  justify-content: center;
  position: absolute;
  background-color: #000000;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 1.2rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz {
  position: absolute;
  top: 30px;
  right: 20px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__cruz button.button-cerrar img.button-cerrar__img {
  width: 27px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__item a {
  color: #FFFFFF;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda {
  width: fit-content;
  position: absolute;
  top: 30px;
  left: 20px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__busqueda button.emoji-button img.emoji-button__img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin {
  width: fit-content;
  margin-top: 2rem;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar ul.burger-menu-list li.burger-menu-list__loggin button.emoji-button img.emoji-button__img {
  width: 30px;
}
header.header-style div.nav-style div.burger-menu nav.nav-bar.visible {
  opacity: 1;
  visibility: visible;
}
header.header-style div.nav-style div.logo-style {
  display: flex;
  justify-content: center;
}
header.header-style div.nav-style div.logo-style a.logo-style-link {
  display: flex;
  height: 100%;
  align-items: center;
}
header.header-style div.nav-style div.logo-style a.logo-style-link img.logo-style-link__img {
  text-align: center;
  max-width: 7rem;
}
header.header-style div.nav-style div.carrito-cont {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
header.header-style div.nav-style div.carrito-cont button.carrito-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header.header-style div.nav-style div.carrito-cont button.carrito-button img.carrito-button__img {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
