// SETEOS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


//VARIABLES

$black: #000000;
$white: #FFFFFF;
$grey: #5B5A5B;
$light-grey: #F6F3F9;

$color-primary: $black;
$color-secondary: $white;
$color-tertiary: $grey;
$color-quaternary: $light-grey;


$font-widht-regular: 400;
$font-widht-medium: 500;
$font-widht-semibold: 600;
$font-widht-bold: 700;
$font-widht-extrabold: 800;
$font-widht-black: 900;


$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;



//Estilos del BODY

body.principal-cont {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    display: none;
}

//Estilos del HEADER

header.header-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6rem;
    background-color: $color-primary;
    position: fixed;
    z-index: 1;
    //SPAN
    span.span-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-secondary;
        background-color: $color-tertiary;
        font-size: $font-size-xs;
        font-weight: $font-widht-semibold;
        height: 25%;
    }
    // NAV (MENU HAMBURGESA, LOGO Y CARRITO)
    div.nav-style {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 75%;
        justify-content: space-around;
        //MENU HAMBURGUESA
        div.burger-menu {
            text-align: center;
            button.burger-menu-button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                img {
                    width: 30px;
                }
            }
            nav.nav-bar {
                display: flex;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                top: 6rem;
                margin: 0;
                left: 0;
                width: 50%;
                height: calc(100vh - 6rem);
                justify-content: center;
                position: absolute;
                background-color: $color-primary;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
                ul.burger-menu-list{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: fit-content;
                    width: fit-content;
                    gap: 50px;
                    margin-bottom: 4rem;
                    li.burger-menu-list__cruz {
                        position: absolute;
                        width: 1.5rem;
                        top: 1rem;
                        right: 1.3rem; 
                        button.button-cerrar {
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            img.button-cerrar__img {
                                width: 100%;
                            }
                        }
                    }
                    li.burger-menu-list__item a {
                        color: $color-secondary;
                    }
                    li.burger-menu-list__busqueda {
                        position: absolute;
                        width: 1.8rem;
                        top: 1rem;
                        left: 1.3rem;
                        button.emoji-button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            img.emoji-button__img {
                                width: 100%;
                            }
                        }
                    }
                    li.burger-menu-list__loggin {
                        position: absolute;
                        bottom: 4rem;
                        width: 2.5rem;
                        button.emoji-button {
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            img.emoji-button__img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            nav.nav-bar.visible {
                opacity: 1;
                visibility: visible;
            }
        }
        //LOGO INSIDIA
        div.logo-style {
            display: flex;
            justify-content: center;
            width: 9rem;
            a.logo-style-link {
                display: flex;
                height: 100%;
                align-items: center;
                img.logo-style-link__img {
                    text-align: center;
                    max-width: 9rem;
                }
            }
        }
        //CARRITO
        
        button.carrito-button {
            display: flex;
            background-color: transparent;
            border: none;
            cursor: pointer;
            img.carrito-button__img-white {
                width: 35px;
            }
            span.suma-carrito {
                align-self: flex-end;
                color: $color-secondary;
                font-size: $font-size-xs;
                font-weight: $font-widht-semibold;
                border-color: $color-quaternary;
            }
            div.cont-carrito {
                visibility: hidden;
                opacity: 0;
            }
            div.cont-carrito.visible {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

//Estilos del MAIN

main.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h2 {
        margin-top: 120px;
    }
    div.product-card {
        width: 10rem;
        border-radius: 20px;
        background-color: $color-quaternary;
        h4.product-card__title {
            position: absolute;
            font-size: $font-size-sm;
            width: 9.5rem;
            text-align: center;
        }
        img.product-card__img {
            width: 100%;
        }
        div.product-card-add {
            display: flex;
            width: 100%;
            height: 55px;
            align-items: center;
            background-color: $color-primary;
            justify-content: center;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            p.product-card-add__precio {
                font-weight: $font-widht-extrabold;
                font-size: $font-size-lg;
                color: $color-secondary;
                width: 70%;
                text-align: center;
            }
            button.product-card-add__button {
                width: auto;
                all: initial;
                background-color: $color-tertiary;
                padding: auto;
                width: 30%;
                height: 100%;
                border-bottom-right-radius: 13px;
                text-align: center;
                cursor: pointer;
                img.product-card-add__button-img-white {
                    width: 30px;
                }
                img.product-card-add__button-img-black {
                    display: none;
                    width: 30px;
                }
            }
            button.product-card-add__button:hover {
                background-color: $color-quaternary;
                img.product-card-add__button-img-white {
                    display: none;
                    width: 30px;
                }
                img.product-card-add__button-img-black{
                    display: initial;
                    justify-self: center;
                }
            }
        }
    }
}

//Estilos del FOOTER

footer.footer-cont {
    position: fixed;
    bottom: 5px;
    right: 5px;
    p.footer-cont__text {
        color: $color-tertiary;
    }
}